#schema {
    min-height: 50px;
}

#schema .row {
    margin: 10px 0;
}

.row-label {
    line-height: 40px;
}

.btn-seat {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.off {
    background-color: #d8d8d8;
}